# Mission to Mars

In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from selenium import webdriver
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import os
import time
import requests
import warnings
warnings.filterwarnings('ignore')

### NASA Mars News

In [2]:
#Initialize browser

fpath = os.path.normpath(r"C:\Users\felix\OneDrive\Documents\DATA ANALYTICS\HOMEWORK\chromedriver.exe")
executable_path = {"executable_path": fpath}
browser = Browser("chrome", **executable_path, headless=False)

#Visit Nasa news url
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [3]:
# Scrape the [NASA Mars News Site] and collect the latest News Title and Paragraph Text.

news_title = browser.find_by_css("div.content_title a").text
news_p = browser.find_by_css("div.article_teaser_body").text
print(news_title)
print(news_p)

Testing Proves Its Worth With Successful Mars Parachute Deployment
The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.

###  JPL Mars Space Images - Featured Image

In [4]:
# Visit the url provided for JPL Featured Space Image, create variable

image_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(image_url)

In [5]:
# Find image url to the fullsize featured image
featured_image = browser.find_by_css("body > div.header > img")

# Display url of the full image
for link in featured_image:
    featured_image_url = (link['src'])
    print(f"featured_image_url = {featured_image_url}")

featured_image_url = https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

### Mars Facts

In [6]:
#  Visit the Mars Facts webpage

image_url = "https://space-facts.com/mars"
browser.visit(image_url)

In [7]:
# Scrape Mars Facts table

url = 'https://space-facts.com/mars'
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
mars_facts_df = tables[0]
mars_facts_df.columns = ["Mars", "Value"]
mars_facts_df.set_index("Mars", inplace=True)
mars_facts_df.head(10)

                                              Value
Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
# convert table to HTML table string
html_table = mars_facts_df.to_html()

# clean up HTML table
html_table.replace("\n", "")
html_table
# Save html code
#mars_facts_df.to_html("mars_facts_data.html")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Mars</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'